<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" href="services__item.css">
</head>
<body>
  <article class="services__item">
    <h1 class="services__item__title">Автомобильные перевозки</h1>
    <p>Автомобильные перевозки всех видов грузов, как с полной (Full Truck Load), так и с неполной (Less Than
      Truck Load) загрузкой на территории всей Европы, в том числе в рамках интермодальных перевозок.</p>
    <a href="#" class="services__item__cta-btn">Читать подробнее об автомобильных перевозках</a>
  </article>
</body>
</html>