@import "../../style.css";

:root {
    --button-bg-color: var(--white);
    --button-text-color: var(--cherry);
    --button-hover-color: var(--rose);
    --button-hover-text-color: var(--white);
    --section-item-border-color: var(--cherry);
    --section-item-title-color: var(--cherry);
    --section-item-bg-color: var(--white);
    --section-item-text-color: var(--thunder);
}

body {
    font-size: 1.5rem;
}

.services {
    margin: 0 auto;
    width: 30%;
}

.services__item {
    margin: 1rem;
    padding: 1rem;
    text-align: justify;
    color: var(--section-item-text-color);
    border: 1px solid var(--section-item-border-color);
    border-radius: 5px;
    background-color: var(--section-item-bg-color);
}

.services__item__title {
    text-align: center;
    text-transform: uppercase;
    color: var(--section-item-title-color);
}

.services__item__cta-btn {
    display: block;
    margin: 0 auto;
    padding: 1rem;
    width: 30%;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--button-text-color);
    background-color: var(--button-bg-color);
    border-radius: 5px;
}

.services__item__cta-btn:hover {
    color: var(--button-hover-text-color);
    background-color: var(--button-hover-color);
}


