table {
    border-collapse: collapse;
    font-size: 20px;
    text-align: center;
}

td {
    border: 2px none #cccccc;
    border-bottom-style: solid;
    padding: 10px 15px;
}

tr:nth-child(2n) {
    background-color: #DDEBF8;
}

td:nth-child(2n+3) {
    background-color: #F2F2DD;
}

